<div class="container center-block wrapper-contain">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-md-push-2 col-lg-push-2 center-block">
            <div class="wrap-form">
                <div class="background-form"></div>
                <div class="text-quote">INSTANT QUOTE</div>
                <form class="form-customer" action="https://www.medigap-medicare.com/wp-json/wp/v2/quote-api">
                    <input type="hidden" name="action" value="">
                    <div class="row row-title">
                        <div class="title-form">TITLE</div>
                        <div class="desc-form">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
                        <div class="show-error"></div>
                    </div>
                    <div class="wrap-inp">
                        <div class="row first-last">
                            <div class="col-xs-12 col-sm-6 col-md-6 firstname-inp">
                                <label>First Name <span class="text-red">*</span></label>
                                <input class="form-control firstname_val" name="firstname" required="required" type="text" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 lastname-inp">
                                <label>Last Name <span class="text-red">*</span></label>
                                <input class="form-control lastname_val" name="lastname" required="required" type="text" />
                            </div>
                        </div>
                        <div class="row zipcode-phone">
                            <div class="col-xs-12 col-sm-6 col-md-6 zipcode-inp">
                                <label>Zip Code <span class="text-red">*</span></label>
                                <input class="form-control zipcode_val" maxlength="5" minlength="5" name="zipcode" required="required" type="text" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 phone-inp">
                                <label>Phone <span class="text-red">*</span></label>
                                <input class="form-control phone_val" name="phone" required="required" type="tel" />
                            </div>
                        </div>
                        <div class="row plantype-email">
                            <div class="col-xs-12 col-sm-6 col-md-6 email-inp">
                                <label>Email <span class="text-red">*</span></label>
                                <input class="form-control email_val" name="email" required="required" type="email" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <label>Plan Type (If known) <span class="text-red">*</span></label>
                                <div class="nav-container plantype-wrap">
                                    <div class="btn-group w100">
                                        <button type="button" class="plan-out btn btn-default fs-20 " data-val="F">F</button>
                                        <button type="button" class="plan-out btn btn-default fs-20 active" data-val="G">G</button>
                                        <button type="button" class="plan-out btn btn-default fs-20" data-val="L">L</button>
                                        <div class="btn-group other-plan">
                                            <i class="dropdown-arrow dropdown-arrow-inverse"></i>
                                            <button type="button" class="btn btn-default status fs-20" data-val="">Other</button>
                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-inverse">
                                                <li val="A" class="fw-600">A</li>
                                                <li val="B" class="fw-600">B</li>
                                                <li val="C" class="fw-600">C</li>
                                                <li val="D" class="fw-600">D</li>
                                                <li val="E" class="fw-600">E</li>
                                                <li val="K" class="fw-600">K</li>
                                                <li val="M" class="fw-600">M</li>
                                                <li val="ALL" class="fw-600">ALL</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <input type="hidden" class="plantype-inp" name="plantype" value="G">
                                </div>
                            </div>
                        </div>
                        <div class="row age-gender">
                            <div class="col-xs-12 col-sm-3 col-md-3 age-inp">
                                <label>Age <span class="text-red">*</span></label>
                                <input class="form-control age_val" max="100" min="65" maxlength="3" name="age" required="required" type="number" placeholder="From 65 - 100 years old" />
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 gender-class">
                                <label>I am a <span class="text-red">*</span></label>
                                <div id="radioBtn" class="btn-group"><a class="btn btn-success active" data-toggle="gender-toggle" data-title="Y"><i class="fa fa-male" aria-hidden="true"></i> Male</a><a class="btn btn-success notActive" data-toggle="gender-toggle" data-title="N"><i class="fa fa-female" aria-hidden="true"></i> Female</a></div>
                                <input id="gender" name="gender" type="hidden" value="Male" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 tobaco-class">
                                <div id="radio-tobaco" class="btn-group"><a class="btn btn-success active btn-a-tag" data-toggle="tobaco-toggle" data-title="Y">Tobaco</a><a class="btn btn-success notActive btn-a-tag" data-toggle="tobaco-toggle" data-title="N">Non-Tobaco</a></div>
                                <input id="tobaco" name="tobaco" type="hidden" value="Tobacco" />
                            </div>
                        </div>
                        <div class="row submit-wrap text-center">
                            <div class="col-xs-12 col-sm-12 col-md-12"><i class="fa fa-spinner fa-pulse fa-2x fa-fw spinner-loading hide text-center center"></i>
                                <button class="btn btn-success btn-lg show-quote" type="submit">Show Me My Quotes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>