.tablepress .red {
	color: #b30000;
	font-weight: bold;
	font-family: Tahoma;
	font-size: 14px;
}

.tablepress .green {
	color: #00b300;
	font-weight: bold;
	font-family: Tahoma;
	font-size: 14px;
}

.tablepress .num {
	font-weight: bold;
	font-family: Tahoma;
	font-size: 14px;
}