.container {
    
}
.text-red {
    color: red !important;
}

.fw-600 {
    font-weight: 600px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.w100 {
    width: 100% !important;
}

.w50 {
    width: 50% !important;
}

.wrapper-contain {
    overflow: visible !important;
}

.wrap-inp input {
    font-size: 20px !important;
    font-weight: 600;
}

.wrap-form {
    /*padding: 30px;*/
    /*background-color: #ccc;*/
    /*opacity: 0.3;*/
}

.wrap-form .form-customer .row-title{
    /*background: linear-gradient(transparent, #054df7, transparent);*/
    /*opacity: 0.4;*/
}

.first-last input, .zipcode-phone input, .plantype-email input, .age-gender input {
    display: block;
    width: 100%;
    height: 33px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff !important;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.first-last, .zipcode-phone, .plantype-email, .age-gender {
    margin-top: 10px;
}

/*css form error form home page*/
.wrap-form .background-form{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.center-block .show-error .text-red span {
    display: block;
    font-weight: bold;
    color: #39B54A;
}


.show-error-medigap {
    background: #f4c0c0 url('../images/bg-error-medigap.png') repeat-x top center;
    font-weight: bold;
    max-width: 70%;
    padding: 10px;
    line-height: 1.6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    display: none;
}

    .show-error-medigap .title-formE {    
        color: red;
        font-size: 22px;
        font-weight: bold;
        padding: 0 0 10px 30px;
        background: url('../images/icon-error-medigap.png') no-repeat left 5px;
        display: inline-block;        
    }

    .show-error-medigap .meta-formE {
        color: #000;
        margin: 0 0 5px 0;
        line-height: 20px;
        font-weight: bold;
    }

    .show-error-medigap span {
        display: block;
        color: red;
        position: relative;
        font-style: italic;
        padding-left: 15px;
    }

        .show-error-medigap span:after {
            position: absolute;
            content: "";
            width: 7px;
            height: 7px;
            background: red;
            left: 0;
            top: 10px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -o-border-radius: 50%;
            -ms-border-radius: 50%;
        }

        .show-error-medigap:empty {
            display: none;
        }
.wrap-form .wrap-inp input {
    color: #000;
}

.zipcode-inp-error {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,0,0,.6) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,0,0,.6) !important;
    border-color: red !important;
}
/*fix 3 qua tao*/
.post-slideshow .slides {
    margin-top: 50px;
}
/*bg trang chu dich xuong*/
.fullwidth-box.faded-background .fullwidth-faded {
    background-position: left 60px !important;
}
/*tiep*/
/* #side-header .fusion-logo, .fusion-header .fusion-logo {
    margin: 10px 0 !important;
}
.fusion-main-menu > ul > li > a {
    box-sizing: border-box;
    height: 65px !important;
    line-height: 65px !important;
}
#sliders-container {
    background-color: red;
    height: 65px;
} */




.wrap-form .form-customer {
    position: relative;
}

.wrap-form .text-quote {
    position: absolute;
    top: 0;
    right: 50px;
    background-color: #39B54A;
    padding: 14px 20px 10px 20px;
    color: #fff;
    z-index: 9999;
    font-weight: 600;
    width: 95px;
}

.wrap-form .text-quote::before {
    border-top: 20px solid #39B54A;
    border-left: 25px solid #39B54A;
    border-right: 25px solid transparent;
    border-bottom: 20px solid transparent;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
}

.wrap-form .text-quote::after {
    border-top: 20px solid #39B54A;
    border-right: 25px solid #39B54A;
    border-left: 25px solid transparent;
    border-bottom: 20px solid transparent;
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
}

.wrap-form .form-customer .row-title {
    padding: 20px 20px 5px 20px;
    margin-left: 0;
}

.wrap-form .form-customer .row-title .title-form {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.wrap-form .form-customer .row-title .desc-form {
    color: #fff;
    font-size: 16px;
}

.wrap-form .form-customer .wrap-inp {
    padding: 10px 20px 50px 20px;
}
.wrap-form .form-customer .wrap-inp .submit-wrap .show-quote {
    text-transform: uppercase;
    font-weight: bold;
}

.wrap-form .form-customer .wrap-inp .plantype-email .plantype-wrap{
    
}

.wrap-form .form-customer .wrap-inp .plantype-email .plantype-wrap .plan-out:focus{
    outline: none;
}

.wrap-form .form-customer .wrap-inp .plantype-email .plantype-wrap .plan-out{
    width: 70px;
    color: #39B54A;
}

.wrap-form .form-customer .wrap-inp .plantype-email .plantype-wrap .plan-out.active{
    background-color: #39B54A;
    color: #fff;
    outline: none;
}

.wrap-form .form-customer .wrap-inp .plantype-email .plantype-wrap .other-plan{
    width: calc(100% - 210px);
}

.wrap-form .form-customer .wrap-inp .plantype-email .plantype-wrap .other-plan .status {
    width: calc(100% - 25px);
    height: 42px;
    color: #ccc;
}

.wrap-form .form-customer .wrap-inp .plantype-email .plantype-wrap .other-plan .status.active {
    background-color: #39B54A;
    color: #fff;
    outline: none;
}

.wrap-form .form-customer .wrap-inp .plantype-email .plantype-wrap .other-plan .dropdown-toggle{
    height: 42px;
}

.wrap-form .form-customer .wrap-inp .plantype-email .plantype-inp{
    padding-left: 10px;
}

.wrap-form .form-customer .wrap-inp .plantype-email  .plantype-inp option{
    /*background-color: #39B54A;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

.wrap-form .form-customer .wrap-inp .gender-class{
    /*margin-top: 39px;*/
    padding-left: 0;
    padding-right: 0;
}
.wrap-form .form-customer .wrap-inp .gender-class #radioBtn{
    width: 93%;
}

.wrap-form .form-customer .wrap-inp .gender-class #radioBtn a.active,
.wrap-form .form-customer .wrap-inp .gender-class #radioBtn a.notActive{
    width: 50%;
}

.wrap-form .form-customer .wrap-inp .age-gender .tobaco-class{
    margin-top: 40px;
} 

.wrap-form .form-customer .wrap-inp .age-gender .tobaco-class .btn-group {
    width: 100%;
}
.wrap-form .form-customer .wrap-inp .age-gender .tobaco-class .btn-group .btn-a-tag{
    width: 50%;
}

.wrap-form .form-customer .wrap-inp .submit-wrap{
    margin-top: 25px;
}

.fa-spinner.spinner-loading {
    color: #39B54A;
}

.wrap-inp label {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: -1px;
}

.age-inp label {
    margin-bottom: 1.3px;
    margin-top: -2px;
}

.gender-class label {
    line-height: 40px;
}

#radioBtn .notActive{
    color: #39B54A;
    background-color: #fff;
}

#radio-tobaco .notActive{
    color: #39B54A;
    background-color: #fff;
}

.other-plan ul > li{
    padding: 0px 10px;
    font-size: 16px;
    color: #39B54A;
}

/*page result*/
#main {
    overflow: hidden;
}

.page-result {
    background: #f9fbff;
    margin: 0 -100%;
    padding: 30px 0;
}

.page-result a {
    text-decoration: none;
}

.page-result .page-result-content {
    font-weight: bold;
    margin-top: 50px;
}

.page-result .page-result-content .result-meta {
    border: 1px solid #ebebeb;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 10px;
    color: #000;
    line-height: 1.5;
    background: #fff;
    font-size: 20px;
}

.page-result .page-result-content .result-meta span {
    display: block;
}

/* #main .page-result .page-result-content .result-title h2 {
    margin: 30px 0 0 0;
    padding: 15px 25px;
    color: #fff;
    background: #3fc9bb;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
} */
.page-result .block-medigap { display: block; }
.modal-backdrop.in {
    z-index: 0;
}
.page-result .page-result-content .modal {
    top: 100px;
    z-index: 99999;
}
.page-result .page-result-content .modal-dialog {
    margin-top: 100px;
}
.page-result .hr-class {
    color: #fff;
    height: 10px;
    background-color: #fff;
}

.page-result .page-result-content .result-button a {
    background: #39b54a;
    float: right;
    color: #fff;
    padding: 0 15px;
    margin: 30px 0;
    border-radius: 10px;
}

.page-result .page-result-content .result-button a:hover {
    color: #fff;
}


.page-result .page-result-content .result-item .result-item-title h4 {
    font-size: 30px;
    margin: 30px 0 0 0;
    color: #fff;
    background: #3f5d61;
    padding: 10px 25px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}

.page-result .page-result-content .result-item-content {
    display: flex;
    background: #fff;
    align-items: stretch;
    border-radius: 0 0 10px 10px;
}
.page-result .page-result-content .result-item-content img{
    /* width: 90px; */
    font-size: 28px;
    height: auto;
    text-align: center;  
    word-break: break-word;  
}
.page-result .page-result-content .result-item-content > div {
    text-align: center;
    font-size: 30px;
    line-height: 1;
    color: #000;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 40px 20px;
}

.page-result .page-result-content .result-item-content .modal .modal-body h3{
    font-size: 26px;
    font-weight: 600;
}
.page-result .page-result-content .result-item-content .modal .modal-body p{
    font-size: 24px;
    line-height: 33px;
}

.page-result .page-result-content .result-item-content > div:first-child {
    background: #99a3a5;
    border-radius: 0 0 0 10px;
    font-weight: bold;
    color: #fff;
    font-size: 40px;
    width: 30%;
}

.page-result .page-result-content .result-item-content > div:nth-child(2n+3) {
    background: #def3e2;
}

.page-result .page-result-content .result-item-content > div:last-child {
    flex-wrap: wrap;
    border-radius: 0 0 10px;
}
.page-result .page-result-content .result-item-content > div:last-child > div {
    margin: 5px 0;
    width: 100%;
}
.page-result .page-result-content .result-item-content > div:last-child > div > a {
    border: medium none;
    display: block;
    font-size: 22px;
    padding: 4px;
    background: #00c226;
}
.page-result .page-result-content .result-item-content > div:last-child > div:last-child a {
    background: #e6e6e6;
    color: #000;
    font-size: 16px;
}


.page-result .page-result-content .result-item-content .call_now{
    display: none;
}

@media only screen and (max-width: 1200px ) {
    .center-block {
        padding: 0 !important;
    }
}
@media only screen and (max-width: 992px ) {
    .center-block {
        width: 100% !important;
    }    
    .wrap-form .form-customer .row-title {
        margin: 0;
    }
}
@media only screen and (max-width: 767px ) {
    .wrap-form .form-customer .wrap-inp .gender-class {
        padding-left: 15px;
        padding-right: 15px;
    }
    .wrap-form .form-customer .wrap-inp .gender-class #radioBtn {
        width: 100%;
    }
}
@media only screen and (max-width: 575px ) {
    .wrap-form .text-quote {
        right: 0;
    }
    .wrap-form .form-customer .row-title {
        width: calc(100% - 95px);
    }
}


/*
    responsive page result
*/

.page-result .page-result-content .result-item-content .call_now{
    display: none;
}

.page-result .page-result-content .result-item-content .error-info{
    background: #fff !important;
}

@media only screen and (max-width: 735px) {

    .page-result{
        width: 100%;
        margin: unset !important; 
    }

    .page-result .result-container{
        width: 100%;
    }

    .page-result-content .result-item{
        webkit-box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.25);
        box-shadow: -12px 10px 5px 0px rgba(0,0,0,0.25);
        border-radius: 10px;
    }

    .page-result .page-result-content .result-item-content{
        display: block;
    }

    .page-result .page-result-content .result-item-content .stt{
        display: none;
    }

    .page-result .page-result-content .result-item-content .error-info{
        display: none;
    }

    .page-result .page-result-content .result-item-content .call_now{
        display: block;
    }

    .page-result .page-result-content .result-item-content .call_now{
        display: block;
    }

    .page-result .page-result-content .result-item-content .call_now .call{
        display: inline-block;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        background: #ded9d9;
    }

    .page-result .page-result-content .result-item-content > div{
        padding: 20px 20px;
    }

    .page-result-content .result-item{
        border: 2px solid #000;
        margin-bottom: 30px;
    }

    .page-result-content .result-meta{
        margin-bottom: 40px;
    }

    .page-result-content .result-item .result-item-content .images_result{
        border-bottom: 1px solid #000;
    }

    .page-result-content .result-item .result-item-content .am_best{
        border-bottom: 1px solid #000;
    }

    .page-result-content .result-item .result-item-content .plan{
        border-bottom: 1px solid #000;
    }

    .page-result-content .result-item .result-item-content .monthly{
        border-bottom: 1px solid #000;
    }

    .page-result .page-result-content .result-item .result-item-title h4{
        margin: 0px;
    }
}

@media only screen and (max-width: 600px){
    .result-item .result-item-title h4{
        font-size: 20px !important;
    }

    .page-result .page-result-content .result-item-content > div{
        font-size: 20px !important;
    }

    .page-result .page-result-content .result-item-content img{
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 425px){
    .page-result .page-result-content .result-item-content > div{
        font-size: 20px !important;
    }

    .result-item .result-item-title h4{
        font-size: 15px !important;
    }

    .page-result .page-result-content .result-item-content img{
        font-size: 20px !important;
    }
}