/*
Theme Name: Avada
Description: The #1 selling theme of all time that allows you to build virtually any design style.
Author: ThemeFusion
Theme URI: http://avada.theme-fusion.com/
Author URI: http://themeforest.net/user/ThemeFusion
Version: 5.2.2
License: Themeforest Split Licence
License URI: -
Text Domain: Avada
*/

.fusion-logo {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.fusion-logo a:before {
    background: none !important;
}

.validity_error {
color:red !important;
border: 1px solid red !important;
}
